.bg-img{
    background-image: url("/images/footer-bg.jpg");
    height: 400px;
    background-position: top center;
    background-size: cover;
}

.bg-logo img{
    right: 0;
    width: 400px;
}

.container_footer{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;

}

h3{
    color: white;
}
