#strip_one{
    background-color: #0282F9;
    color: white;
    text-align: right;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container_nav{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;

    justify-content: space-between;
    align-items: center;
}

.container p {
    display: inline-block;
    padding: 10px;
    font-size: 12px;
}

#logo img{
    width: 85px;
    padding: 10px;
}

.container_nav ul{
    list-style-type: none;
    display: flex;
    padding: 10px;
}

.container_nav ul li{
    padding: 10px;
    margin: 0 10px;
}

.search{
    display: flex;
}

.search p {
    margin-right: 10px;
}

.jumbotron{
    background-image: url("/images/jumbotron.jpg");
    height: 400px;
    background-position: top center;
}



